<style>
    .card-inverse {
        background-color: black;
    }
    /*#DegreemapRow div {
        border:1px solid green;
    }*/
</style>
<div class="container" id="printme">
    <!--[print-me target="#printme" title=""]-->
    <div><span class="fa fa-print fa-3x"></span></div>
    <section class="ucf-section ucf-section-success-pathway-semesters" data-section-link-title="Communication Sciences &amp; Disorders (B.A. or B.S)" aria-label="Communication Sciences &amp; Disorders (B.A. or B.S)">
        <p class="lead">
            UCF Success Pathways are intended to guide students who want to earn an A.A. at state college and transfer to UCF to earn a baccalaureate degree. Each major outlines the sequence of courses, hints for success, milestones, and co-curricular experiences you should complete in order to earn your associates degree (A.A.) and be “junior ready” when you transfer to UCF.
        </p>
        <p class="lead">
            UCF Success Coaches are available to provide comprehensive support to prospective and current transfer students, from first contact all the way through to graduation at UCF.
        </p>
        <!--[button href="https://directconnect.ucf.edu/success-coaches/" new_window="true"]Connect with a Success Coach[/button]-->
        <div class=""><button class="btn btn-primary py-3 px-3" type="button">Connect with a Success Coach</button></div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header card-inverse" style="background-color: black; color: white;">
                            <h3 class="Degree"></h3>
                            <p class="card-text">Major Type and Requirements</p>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-text"><strong>Required GPA : </strong><span class="GPA"></span></p>
                                    <p class="card-text"><strong>Limited Access : </strong><span class="LimitedAccess"></span></p>
                                    <p class="card-text"><strong>Restricted Access : </strong><span class="RestrictedAccess"></span></p>
                                    <div><strong>Foreign Language Requirements </strong></div><span class="ForeignLanguageRequirement"></span>
                                    <p></p>
                                </div>
                                <div class="col-md-6"><div><strong>Additional Requirements</strong></div><span class="AdditionalRequirement"></span></div>
                                <p></p>
                            </div>
                            <p></p>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3 class="heading-underline"><span class="Degree"></span> Success Pathway</h3>
        <p class="lead">Listed courses are to account for degree requirements, pre-requisites and critical courses to prepare students for admission to intended major at UCF. Courses should be completed before transfering to UCF.</p>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <br>
                State College Plan<br>
            </button>
            <p></p>
            <div class="dropdown-menu" id="InstitutionList">
                <a class="dropdown-item" href="#">General</a><br>
                <a class="dropdown-item" href="#">Daytona State College</a><br>
                <a class="dropdown-item" href="#">Valencia College</a>
            </div>
            <p>&nbsp;</p>
        </div>
        <p>&nbsp;</p>
        <h3>
            <div class="px-3 py-3"><span class="badge badge-primary"><span class="Institution"></span> Pathway</span></div>
        </h3>

        <div class="row px-5">
            <div class="col-md-12">




            </div>
        </div>


        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-hover table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>UCF Course Prefix &amp; Course Number</th>
                            <th>Units / Credits</th>
                            <th>State College Course Prefix &amp; Number</th>
                            <th>Units / Credits</th>
                        </tr>
                    </thead>
                    <tbody id="DegreemapRow">
                        <tr>
                            <td colspan="4">
                                <div class="text-center" style="color:red"><h4><em>Not real data</em></h4></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="">CGS 1060 Introduction to Computer Science<br />+*~</div>
                                <div class="pt-2">ZOO 2100 Introduction to Animals<br />+</div>
                            </td>
                            <td>
                                <div class="">3<br />&nbsp;</div>
                                <div class="pt-2">4<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">CGS 1060 Introduction to Computer Science<br />&nbsp;</div>
                                <div class="pt-2">ZOO 2100 Introduction to Animals<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">4<br />&nbsp;</div>
                                <div class="pt-2">4<br />&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="">RTX 3070 Nvdia graphics card for gamers<br />&nbsp;</div>
                                <div class="pt-2">RTX 3080 Nvidia graphcis card for extremist<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">3<br />&nbsp;</div>
                                <div class="pt-2">4<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">CGS 1060 Introduction to Computer Science<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">4<br />&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="">RTX 3070 Nvdia graphics card for gamers<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">3<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">CGS 1060 Introduction to Computer Science<br />&nbsp;</div>
                                <div class="pt-2">RTX 3080 Nvidia graphcis card for extremist<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">4<br />&nbsp;</div>
                                <div class="pt-2">4<br />&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="">RTX 3070 Nvdia graphics card for gamers<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">3<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">CGS 1060 Introduction to Computer Science<br />&nbsp;</div>
                            </td>
                            <td>
                                <div class="">4<br />&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <div class="pl-3">* Critical Courses</div>
                                <div class="pl-3">~ Required Core Course</div>
                                <div class="pl-3">+ Common Program Prerequisites</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br /><br />
                <table class="table table-sm table-bordered table-hover table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>UCF Course</th>
                            <th>Partner Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>RTX 3070 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>+~</div>
                            </td>
                            <td>
                                <div>RTX 3090 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>RTX 3070 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>+~</div>
                                <div class="pt-2">RTX 3070 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>+~</div>
                            </td>
                            <td>
                                <div>RTX 3090 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>RTX 3070 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>+~</div>
                            </td>
                            <td>
                                <div>RTX 3090 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>&nbsp;</div>
                                <div class="pt-2">RTX 3070 Nvdia graphics card for gamers</div>
                                <div>3 Credits</div>
                                <div>&nbsp;</div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="pl-3">* Critical Courses</div>
                                <div class="pl-3">~ Required Core Course</div>
                                <div class="pl-3">+ Common Program Prerequisites</div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div id="UCFPathwaySection">
            <p>&nbsp;</p>
            <h3 class="heading-underline">UCF Pathway</h3>
            <p class="lead">
                Courses are suggested in a certain order taking into account degree requirements, pre-requisites and critical courses arranged by the semester in which you should complete them to be on track to graduation. We want you to
                graduate on time by avoiding excess credits. This program will be offered by the College of <span class="CollegeName"></span>.
            </p>
            <div id="UCFCourseSection"></div>
        </div>
    </section>
</div>

<p class="lead pt-5">Notes:</p>
<ul id="ListItems">
    <li>Consult your state college advisor for recommendations to complete AA graduation requirements.</li>
    <li>Students pursuing the B.A. degree must demonstrate proficiency in a foreign language equivalent to one year in college (eight credit hours). ASL I and II&nbsp;can also be used to fulfill this requirement.</li>
    <li>Students pursuing the B.S. degree must complete two upper division health sciences courses (six credit hours) approved by the program.</li>
    <li>Critical Courses are courses that are either a pre-requisite to upper level courses or to be admitted into the major.</li>
</ul>
<p class="lead pt-3">Disclaimer</p>
Success Pathways do not substitute for your advisor, degree planning tools, and degree audits. Once you enroll at UCF, Pegasus Path (degree planning) and myKnight Audit (degree audit) are the official tools at UCF. Please choose your major of choice early and follow Success Pathways in consultation with your advisor. Actual degree requirements at each institution are based on the undergraduate catalog year in which you first enrolled in the institution.

<section class="ucf-section ucf-section-success-pathway-resources " data-section-link-title="Resources" aria-label="Resources">
    <div class="container">
        <div class="row pb-0 mb-0 pt-5">
            <div class=" col-md-12">
                <h3 class="heading-underline">Resources</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pb-0 mb-0">
            <div class="pt-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Equivalency Portal</h3>
                        <p class="card-text">Find out course equivalencies from your earned college credits using UCF’s Equivalency Portal.</p>
                        <a class="btn btn-primary" href="https://tes.collegesource.com/publicview/TES_publicview01.aspx?rid=5a34a0a1-3ab8-48c4-b347-2b967c317c7c&amp;aid=df6222b3-1b52-4cc4-9221-db71813d2086">Visit Equivalency Portal</a>
                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <img loading="lazy" class=" img-fluid alignnone wp-image-1362 size-full" src="https://connectucncmsqa.smca.ucf.edu/wp-content/uploads/sites/4/2020/10/Resources.png" alt="Student smiling with graduation cap on" height="353">
            </div>

            <div class="pt-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Transfer Connect</h3>
                        <p class="card-text">Visit Transfer Connect for your one-stop center with resources and information on transferring to UCF.</p>
                        <a class="btn btn-primary" href="#">Visit Transfer Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>