@{
    Layout = "~/Views/Shared/_Pathway.cshtml";
}
    <section class="ucf-section ucf-section-success-pathway-home " data-section-link-title="Welcome to UCF Success Pathways!" aria-label="Welcome to UCF Success Pathways!">
        <div class="container">
            <div class="row mb-0 pt-5 pb-3">
                <div class=" col-md-12">

                    <h3 class="heading-underline">Welcome to UCF Success Pathways!</h3>
                    <p class="lead">UCF Success Pathways provide an outline of required lower-level courses and academic milestones prospective transfer students should complete while earning their AA at the state college. The pathways align with a student’s anticipated major at UCF. The intent of Success Pathways is to ensure that transfer students are “major ready” when they matriculate to UCF. Being major ready means that a student can enroll in upper-level courses required by the desired major thus being on track to graduate on time.</p>
                    <p class="lead">We encourage prospective transfer students to use these pathways in consultation with their advisor at the state college. To use the pathways, select your desired major at UCF, and from the drop-down menu, select your institution if you are from DirectConnect to UCF Partner institutions. If you are from one of the Florida College System (FCS) or any other institution, select Generic FCS. For transfer equivalencies, we encourage you to visit <a href="https://tes.collegesource.com/publicview/TES_publicview01.aspx?rid=5a34a0a1-3ab8-48c4-b347-2b967c317c7c&amp;aid=df6222b3-1b52-4cc4-9221-db71813d2086">UCF Transfer Equivalency System (TES)</a> site.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="jumbotron jumbotron-fluid mb-0 pt-5 pb-0">
        <div class="container">
            <div class="row">
                <div class=" col-md-2">
                    &nbsp;
                </div>
                <div class=" col-md-8">
                    <section class="ucf-section ucf-section-degree-alpha-list ">
                        <div class="h4 text-uppercase text-center">Search by Major</div>
                        <ul class="h4">
                            <li style="display: table-cell;"><a class="pr-2" href="#A">A</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#B">B</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#C">C</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#D">D</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#E">E</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#F">F</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#G">G</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#H">H</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#I">I</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#J">J</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#K">K</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#L">L</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#M">M</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#N">N</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#O">O</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#P">P</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#Q">Q</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#R">R</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#S">S</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#T">T</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#U">U</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#V">V</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#W">W</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#X">X</a></li>
                            <li style="display: table-cell;"><a class="pr-2" href="#Y">Y</a></li>
                            <li style="display: table-cell;"><a class="pr-3" href="#Z">Z</a></li>
                        </ul>
                    </section>
                </div>
                <div class=" col-md-2">
                    &nbsp;
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-md-12">
                    <form name="degreeSearch" class="form-inline" onsubmit="return false;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyword" id="keyword" autocomplete="off" />
                            <button type="button" class="btn btn-success" onclick="degreeList.clear()">Clear</button>
                        </div>
                    </form>
                    <span id="DegreeListOutput"></span>
                </div>
            </div>

            <div class="row">
                <div class=" col-md-12">
                    <br>
                </div>
            </div>
            @*<div class="row">
                <div class=" col-md-2">
                    &nbsp;
                </div>
                <div class=" col-md-8">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title"><span id="DegreeListOutput"></span></h4>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2">
                    &nbsp;
                </div>
            </div>*@
            <div class="row pt-5 pb-3">
                <div class=" col-md-12">
                    <p class="lead">Disclaimer</p>
                    <p>
                        Success Pathways do not substitute for your advisor, degree planning tools, and degree audits. Once you enroll at UCF, Pegasus Path (degree planning) and myKnight Audit (degree audit) are the official tools at UCF. Please choose your major of choice early and follow Success Pathways in consultation with your advisor. Actual degree requirements at each institution are based on the undergraduate catalog year in which you first enrolled in the institution.<br>
                    </p>
                </div>
            </div>
        </div>
        <p></p>
    </div>





    <section class="ucf-section ucf-section-success-pathway-resources " data-section-link-title="Resources" aria-label="Resources">
        <div class="container">

            <div class="row pb-0 mb-0 pt-5">

                <div class=" col-md-12">

                    <h3 class="heading-underline">Resources</h3>
                </div>

            </div>

        </div>

        <div class="container">

            <div class="row pb-0 mb-0">

                <div class="pt-5 col-md-4">

                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Equivalency Portal</h3>
                            <p class="card-text">Find out course equivalencies from your earned college credits using UCF’s Equivalency Portal.</p>
                            <p>
                                <a class="btn btn-primary" href="https://tes.collegesource.com/publicview/TES_publicview01.aspx?rid=5a34a0a1-3ab8-48c4-b347-2b967c317c7c&amp;aid=df6222b3-1b52-4cc4-9221-db71813d2086">Visit Equivalency Portal</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-md-4">

                    <img loading="lazy" class=" img-fluid alignnone wp-image-1362 size-full" src="/wp-content/uploads/sites/4/2020/10/Resources.png" alt="Student smiling with graduation cap on" height="353"><br>
                </div>

                <div class="pt-5 col-md-4">

                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Transfer Connect</h3>
                            <p class="card-text">Visit Transfer Connect for your one-stop center with resources and information on transferring to UCF.</p>
                            <p>
                                <a class="btn btn-primary" href="#">Visit Transfer Connect</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>


    <script src="~/Scripts/DegreeList.js"></script>
