@{
    int? degreeid = ViewBag.degreeId;
    List<DegreeMapping.Models.Degree> list_d = ViewBag.DegreeList;
}
@section Head {
    <link href="https://connectucncmsqa.smca.ucf.edu/wp-content/themes/Colleges-Theme/static/css/style.min.css?ver=5.7.2" rel="stylesheet" />
}

<div class="row pb-5">
    <div class="col-md-12">
        <h2>Select Degree</h2>
        <form method="get" class="form-inline">
            <div class="form-group input-group-lg">
                <select name="degreeid" class="form-control">
                    <option>Select</option>
                    @foreach (DegreeMapping.Models.Degree d in list_d.OrderBy(x => x.Name))
                    {
                        if (d.UCFDegreeId.HasValue && d.UCFDegreeId == 0)
                        {
                            <optgroup label="@d.Name"></optgroup>
                            continue;
                        }
                        <option value="@d.Id">&nbsp; &nbsp; @d.Institution</option>
                    }
                </select>
                <button class="btn btn-primary btn-lg">Select</button>
            </div>
        </form>
    </div>
</div>
@if (degreeid.HasValue)
{
    @Html.Action("_DegreeMapV2WPTemplate")
    <script src="~/Scripts/DegreeMap3.js"></script>
}