@{
    string url = HttpContext.Current.Request.Url.Host.ToLower();
    string path = "";
    if (url == "portal.connect.ucf.edu")
    {
        path = "/Pathway";
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Generic page for <span class="UCFDegreeName"></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>List of Institutions degrees</h2>
            <div id="output"></div>
        </div>
    </div>
</div>
<script src="@path/Scripts/DegreeGeneric.js"></script>