@{ 
    int? CloneId = ViewBag.CloneId;
    string CloneType = ViewBag.CloneType.ToLower();
    string actionName = string.Empty;
    string linkName = string.Empty;
    int id=0;
    bool displayCloneInfo = false;
    if (CloneId.HasValue) {
        if (CloneType.ToLower() == "course")
        {
            DegreeMapping.Models.Course c = DegreeMapping.Models.Course.Get(CloneId.Value);
            if (c != null && c.Id > 0)
            {
                actionName = "CourseEdit";
                linkName = c.Institution + " " + c.Degree;
                id = c.Id;
                displayCloneInfo = true;
            }
        }
        if (CloneType.ToLower() == "coursemapper")
        {
            DegreeMapping.Models.CourseMapper cm = DegreeMapping.Models.CourseMapper.Get(CloneId.Value);
            if (cm != null && cm.Id > 0)
            {
                actionName = "CourseMapperEdit";
                linkName = cm.Institution + " " + cm.Degree;
                id = cm.Id;
                CloneType = "Course Map";
                displayCloneInfo = true;
            }
        }
        if (CloneType.ToLower() == "degree")
        {
            DegreeMapping.Models.Degree d = DegreeMapping.Models.Degree.Get(CloneId.Value);
            if (d != null && d.Id > 0)
            {
                actionName = "DegreeView";
                linkName = d.Institution + " " + d.Name;
                id = d.Id;
                displayCloneInfo = true;
            }
        }
        if (CloneType.ToLower() == "note")
        {
            DegreeMapping.Models.Note n = DegreeMapping.Models.Note.Get(CloneId.Value);
            if (n != null && n.Id > 0)
            {
                string noteType = DegreeMapping.Models.Note.GetNoteTypeValue(n.NoteType);
                actionName = "NoteView";
                linkName = n.Institution +" "+ n.Degree + " " + noteType;
                id = n.Id;
                displayCloneInfo = true;
            }
        }
    }
}
@if (displayCloneInfo)
{ 
    <div class="row pt-5">
        <div class="col-md-12 alert alert-warning">
            <p><span class="fa fa-clone"></span> This @CloneType was cloned from @Html.ActionLink(linkName, actionName, new { id = id })</p>
        </div>
    </div>
}