@model DegreeMapping.Models.Degree

    <div class="row py-5">
        <div class="col-md-12">
            @Html.ActionLink(Model.Institution + " Degree List", "InstitutionView", new { id=Model.InstitutionId })</small>
            <h1>Add degree for @Model.Institution</h1>
            <h2>@Html.Raw(Model.Name)</h2>
        </div>
</div>
<div class="container px-5">
    @Html.Action("_Degree", "App", new { model = Model })
</div>
